# Comp 521 Fall 2018 Assignment 2
__Assigned__: 20 September 2018  
__Due__: 4 October 2018

In [9]:
# fill in your info here
onyen = "yuanming"
collaborators = ["johnnyni"]

Download and unzip [movies.db.zip](http://gb.cs.unc.edu/~gb/movies.db.zip) to produce a movies.db file in your working folder. This database is about 836 megabytes so some of the queries may take a while, __start early__.  This database has the following schema:
```
Customers (
    cardNo INTEGER PRIMARY KEY,
    first TEXT,
    last TEXT,
    sex CHAR,
    dob DATE
)

Movies (
    movieId INTEGER PRIMARY KEY,
    title TEXT,
    year INTEGER
)

Rentals (
    cardNo INTEGER,
    movieId INTEGER,
    date DATE,
    rating INTEGER,
    PRIMARY KEY(cardNo, movieID, date),
    FOREIGN KEY (cardNo) REFERENCES Customers,
    FOREIGN KEY (movieId) REFERENCES Movies
)
```

Write code in the cells below to answer each question.

In [10]:
# setup
import sqlite3
conn = sqlite3.connect('movies.db')
cursor = conn.cursor()

import comp521
check, report = comp521.start('A2')

## 1. Find the following using SQL queries

__1a. How many male customers are there?__

In [14]:
# write your query as a single string here
a1a ="SELECT COUNT(first) FROM CUSTOMERS WHERE sex='M'"

# code to execute your query, leave this alone
q1a = cursor.execute(a1a).fetchone()[0]
check('1a', q1a, points=10)

1a appears correct

__1b. How many movies were released in either 2004 or 2006?__

In [16]:
a1b = "SELECT COUNT(title) FROM MOVIES WHERE year=2004 OR year=2006"

# test code
q1b = cursor.execute(a1b).fetchone()[0]
check('1b', q1b, points=10)

1b appears correct

__1c. What are the first and last names of the oldest customers in alphabetical order by last and first name?__

In [25]:
a1c = "SELECT first, last FROM CUSTOMERS WHERE dob=(SELECT min(dob) FROM CUSTOMERS) ORDER BY last, first"

# test
q1c = cursor.execute(a1c).fetchall()
check('1c', q1c, points=10)

1c appears correct

__1d. How many customers were born before January 1st, 1950 (not inclusive)?__

In [28]:
a1d = "SELECT COUNT(first) FROM CUSTOMERS WHERE dob < '1950-01-01'"

# test
q1d = cursor.execute(a1d).fetchone()[0]
check('1d', q1d, points=10)

1d appears correct

__1e. What is the average rating for all movies rented between January 1st 2000, and December 31st 2000 (inclusive)?__

In [30]:
a1e = "SELECT AVG(rating) FROM RENTALS WHERE date BETWEEN '2000-01-01' AND '2000-12-31'"

# test
q1e = cursor.execute(a1e).fetchone()[0]
check('1e', q1e, points=10)

1e appears correct

## 2. Fill in the body of the functions below.

__2a. Fill in code to make this function return a list with the titles of the films released in the given year, sorted alphabetically.__

In [33]:
def f2a(year):
    yearlist = cursor.execute("SELECT title FROM MOVIES WHERE year= ? ORDER BY title", (year,))
    yearlist2 = ['%s' % i for i in yearlist.fetchall()]
    return(yearlist2)

q2a = f2a(1935)
check('2a', q2a, points=10)

2a appears correct

__2b. Write a function that takes a string representing some part of a film title, and returns a list of tuples with the first and last names of customers who rented those films and rated them 3 or higher. Sort this list alphabetically by last name and first names.__

In [37]:
def f2b(title):
    results = cursor.execute("SELECT DISTINCT first, last FROM CUSTOMERS NATURAL JOIN(SELECT cardNo FROM RENTALS NATURAL JOIN(SELECT movieId FROM MOVIES WHERE title LIKE '%" + title +"%') WHERE rating >= 3) ORDER BY last, first").fetchall()
    return(results)

q2b = f2b('rash Di')
check('2b', q2b, points=20)

2b appears correct

__2c. Write a function that takes year as input, and returns a list of the titles of the most rented films among the films released that year.__

In [42]:
def f2c(year):
    result = cursor.execute("SELECT title FROM MOVIES NATURAL JOIN(SELECT Rentals.movieId, COUNT(*) maximum FROM RENTALS INNER JOIN Movies ON Rentals.movieId = Movies.movieId WHERE year = ? GROUP BY title ORDER BY maximum DESC LIMIT 1)",(year,)).fetchall()
    thislist = ['%s' % i for i in result]
    return(thislist)

q2c = f2c(2001)
check('2c', q2c, points=20)

2c appears correct

# Done!

Now get your report, save, and submit your notebook. I recommend you restart the kernel, and run all, just to be sure things are going to work correctly when I run it.

In [44]:
report('yuanming', 'johnnyni')

  Collaborators: johnnyni
Report for yuanming
  8 of 8 appear correct, 100 of 100 points